---
# tasks file for install_minidlna
- name: Install package epel-release
  yum:
    name: epel-release
    state: latest

- name: Install package rpmfusion
  yum:
    name: http://download1.rpmfusion.org/free/el/rpmfusion-free-release-{{ centos_version }}.noarch.rpm
    state: present

- name: Install package minidlna
  dnf:
    name: minidlna
    state: latest
      
- name: Add the user minidlna to group  samba group 
  user:
    name: minidlna
    groups: "{{ samba_group | default('minidlna') }}" 
    append: yes
    state: present

- name: delete default shared folder 
  ansible.builtin.lineinfile:
    path: /etc/minidlna.conf
    regexp: '^media_dir=.*'
    state: absent
  notify: restart minidlna

- name: add config lines
  blockinfile:
    path: /etc/minidlna.conf
    block: |
        friendly_name = {{samba_hostname | default('My DLNA Server') }}
        user = minidlna
        media_dir = {{ samba_shared_folder | default('/opt/share') }}/public
  notify: restart minidlna

- name: add firewall rule
  ansible.posix.firewalld:
    zone: public
    service: minidlna
    permanent: yes
    state: enabled   
  notify: restart firewalld